body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-roboto: Roboto;
  --font-lexend: Lexend;
  --font-manrope: Manrope;
  --font-segoe-ui-emoji: "Segoe UI Emoji";
  --font-joti-one: "Joti One";

  /* font sizes */
  --font-size-base: 16px;
  --font-size-5xl: 24px;
  --font-size-lgi: 19px;
  --font-size-xl: 20px;
  --font-size-mini: 15px;
  --font-size-8xl: 27px;
  --font-size-3xl: 22px;
  --font-size-sm: 14px;
  --font-size-21xl: 40px;
  --font-size-13xl: 32px;

  /* Colors */
  --color-white: #fff;
  --color-darkslategray: #374151;
  --color-black: #000;
  --color-slategray: #6b7280;
  --color-gray-200: #2b2b2b;
  --color-gray-300: #1f2937;
  --color-gray-100: #151615;
  --color-gainsboro-100: #d8d8d8;
  --color-whitesmoke: #f8f7f8;
  --color-dimgray-100: #676767;
  --color-dimgray-200: #575757;
  --color-dimgray-400: #4b5563;
  --color-dimgray-300: #4e4e4e;
  --color-red-100: #ea1414;
  --color-red-200: #df1717;

  /* Gaps */
  --gap-56xl: 75px;
  --gap-18xl: 37px;
  --gap-lgi: 19px;
  --gap-49xl: 68px;
  --gap-mid: 17px;
  --gap-15xl: 34px;
  --gap-21xl: 40px;
  --gap-xl: 20px;
  --gap-4xl: 23px;
  --gap-mini: 15px;
  --gap-95xl: 114px;
  --gap-9xl: 28px;
  --gap-38xl: 57px;
  --gap-74xl-9: 93.9px;
  --gap-28xl: 47px;
  --gap-113xl-5: 132.5px;
  --gap-47xl: 66px;
  --gap-14xl: 33px;
  --gap-base: 16px;
  --gap-11xs: 2px;

  /* Paddings */
  --padding-smi: 13px;
  --padding-221xl: 240px;
  --padding-xl: 20px;
  --padding-10xs: 3px;
  --padding-26xl: 45px;
  --padding-137xl: 156px;
  --padding-3xl: 22px;
  --padding-37xl: 56px;
  --padding-4xs: 9px;
  --padding-16xl: 35px;
  --padding-12xl: 31px;
  --padding-7xl: 26px;
  --padding-6xs: 7px;
  --padding-12xs: 1px;
  --padding-7xs: 6px;
  --padding-base: 16px;
  --padding-2xs: 11px;
  --padding-72xl: 91px;
  --padding-4xl: 23px;
  --padding-5xs: 8px;
  --padding-167xl: 186px;
  --padding-81xl: 100px;
  --padding-388xl: 407px;
  --padding-6xl: 25px;
  --padding-31xl: 50px;
  --padding-154xl: 173px;
  --padding-54xl: 73px;
  --padding-93xl: 112px;
  --padding-46xl: 65px;
  --padding-247xl: 266px;
  --padding-114xl: 133px;
  --padding-47xl: 66px;
  --padding-153xl: 172px;
  --padding-19xl: 38px;
  --padding-41xl: 60px;
  --padding-11xl: 30px;
  --padding-13xl: 32px;
  --padding-2xl: 21px;
  --padding-5xl: 24px;

  /* Border radiuses */
  --br-11xs: 2px;
  --br-9xs: 4px;
  --br-5xs: 8px;
}
